/* General CSS */


:root {
  --primary-color: #E50914;
  --bg-color: #0E0E0E;
  --bg-color2: #141414;
  --text-color: #D9D6D9;
  --gradient-bg: linear-gradient(180deg, rgba(14,14,14,1) 0%, rgba(14,14,14,1) 40%, rgba(0,212,255,0) 100%)
}

* {
  transition: transform 0.3s ease;
}

body {
  padding: 0;
  margin: 0;
  font-family: poppins;
  background-color: var(--bg-color2);
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(14,14,14);
  background: linear-gradient(180deg, rgba(14,14,14,1) 0%, rgba(14,14,14,1) 60%, rgba(0,212,255,0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.3rem;
  z-index: 1000; /* Ensure the header stays on top of other content */
}

header:hover {
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

/* */
button {
  transition: transform 0.3s ease;
}

p {
  margin: 0.8rem 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.1);
}

.red-bold {
  font-weight: bold;
  color: var(--primary-color)
}

/* APP BAR SECTOION */

.compact-search-button {
  display: none;
}

#hamburger {
  display: none;
}

#hamburger-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 150px;
  z-index: 2;
}

.hamburger-menu ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.hamburger-menu ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
}

.hamburger-menu ul li a:hover {
  background-color: #f0f0f0;
}

#logo {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 1rem;
  padding: 0;
  font-family: poppins;
  color: var(--primary-color);
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav a {
  color: white;
  font-size: 0.8rem;
}

.user-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}

.search-component {
  display: flex;
  text-align: center;
}

#search-icon {
  font-size: 1.3rem;
  margin-left: -1.6rem;
}

.search-bar {
  display: block;
  gap: 0.5rem;
  min-height: 1.5em;
  padding: 0.2rem;
}

.search-component:hover {
  transform: scale(1.05);
}

.fa-bell {
  font-size: 1.5rem;
}

#user-image {
  width: 2rem;
  height: 2rem;
  color: white;
}

/* Hero section */

#main-trailer {
position: absolute;
width: 100%;
height: 100%;
filter: opacity(0.80);
z-index: -1;
pointer-events: none;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 2rem;
  border: black solid 1px;
  border-radius: 3px;
  position: relative;
}

.hero:hover {
  transform: scale(1.005);
  
}

#hero-heading {
  text-transform: uppercase;
  font-size: 2rem;
}

.ratings {
  display: flex;
  gap: 1em;
  align-items: center;
}

.user-rating {
  color: rgb(226, 0, 0);
}

.age-rating {
  padding: 0 0.2em;
  border: black solid 1px;
  border-radius: 5px;
}

.movie-duration {
  font-weight: bold;
}

.btn-play-big {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem 2.5rem;
  border-radius: 0.5rem;
  border: 0;
}

.btn-play-big:hover {
  transform: scale(1.05);
}

button i {
  margin-left: -1rem;
  margin-right: 0.5rem;
}

/* catalogue section */

.catalogue-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalogue-heading {
  font-weight: bold;
  font-size: 1.2rem;
}

.movie-list {
  display: flex;
  justify-content: left;
  gap: 1rem;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0.5rem 0.2rem;
}

.movie-card {
  display: inline-block;
  border: black solid 1px;
  padding: 3rem 13rem 3rem 2rem;
  border-radius: 3px;
  gap: 0.3rem;
}

.movie-card:hover {
  transform: scale(1.01);
}

.btn-play-small {
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0;
  margin: 0.5rem 0;
}

.btn-play-small i {
  margin-left: -0.5rem;
  margin-right: 0.5rem;
}

.btn-play-small:hover {
  transform: scale(1.05);
}

/*
/* Footer */

footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.terms-of-use-container {
  max-width: 60vw;
}

.footer-linkbar {
  display: flex;
  gap: 1.2rem;
  color: rgb(94, 94, 94);
}

.footer-icon {
  max-block-size: 2rem;
  margin: 0.2rem;
}

.terms-of-use-text {
  font-size: 0.8rem;
}

@media (max-width: 840px) {
  .search-bar {
    display: none;
  }
}

@media (max-width: 768px) {
  /* app BAr */

  header {
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background-color: #fff;
    padding: 0 0.3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 0;
  }

  #logo {
    margin-right: auto;
  }

  body {
    margin-top: 60px;
  }

  .user-panel {
    margin-left: auto;
  }

  .search-bar {
    display: flex;
    width: 0;
    opacity: 0;
    transition: width 0.4s ease, opacity 0.4s ease;
    margin-left: auto;
    font-size: 1.2rem;
  }

  .compact-search-bar {
    display: flex;
    align-items: flex-end;
  }

  .compact-search-button {
    display: block;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
    font-size: 1.5rem;
    z-index: 5;
    margin-left: -1rem;
  }

  .compact-search-bar button:hover {
    transform: scale(1.05);
  }

  #hamburger {
    display: flex;
    max-block-size: 2rem;
    align-items: center;
    border: none;
    background: none;
    margin: 0 2rem 0 0;
  }

  #hamburger:hover {
    transform: scale(1.05);
  }

  #hamburger-icon {
    max-block-size: 2rem;
  }

  .nav,
  #bell-icon,
  #user-image,
  #search-icon {
    display: none;
  }

  .user-panel {
    gap: 0;
  }

  /* hero */

  .ratings {
    display: flex;
    gap: 0.5rem;
  }

  .user-rating {
    display: flex;
  }

  /* catalogue section */

  .movie-card {
    display: inline-block;
    border: black solid 1px;
    padding: 2rem 6rem 2rem 2rem;
    border-radius: 3px;
    gap: 0.3rem;
  }

  /* footer */

  footer {
    display: flex;
    justify-content: space-between;
  }

  .footer-linkbar {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    flex-direction: column;
  }

  .footer-linkbar a {
    color: rgb(70, 70, 70);
    font-size: 0.9rem;
  }

  .footer-linkbar a:hover {
    transform: scale(1.05);
  }

  .terms-of-use-container {
    max-width: 50vw;
  }

  .terms-of-use-text {
    display: none;
  }

  .follow-us-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .follow-us-container p {
    display: none;
  }

  .apps-container {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .apps-container p {
    display: none;
  }
}
