/* General CSS */

:root {
  --primary-color: rgb(226, 0, 0);
}

* {
  transition: transform 0.3s ease;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: poppins;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

button {
  transition: transform 0.3s ease;
}

p {
  margin: 0.8rem 0;
}

a {
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.1);
}

.red-bold {
  font-weight: bold;
  color: rgb(226, 0, 0);
}

/* APP BAR SECTOION */

#hamburger {
  display: none;
}

#logo {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  font-family: poppins;
  color: rgb(226, 0, 0);
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  gap: 0.5rem;
  min-height: 1.5em;
}

.search-bar:hover {
  transform: scale(1.05);
}

.fa-bell {
  font-size: 1.5rem;
}

.fa-magnifying-glass {
  font-size: 1.5rem;
}

#user-image {
  width: 2rem;
  height: 2rem;
}

/* Hero section */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 1rem;
  border: black solid 1px;
  border-radius: 3px;
}

.hero:hover {
  transform: scale(1.005);
}

#hero-heading {
  text-transform: uppercase;
  font-size: 2rem;
}

.ratings {
  display: flex;
  gap: 1em;
  align-items: center;
}

.user-rating {
  color: rgb(226, 0, 0);
}

.age-rating {
  padding: 0 0.2em;
  border: black solid 1px;
  border-radius: 5px;
}

.movie-duration {
  font-weight: bold;
}

.btn-play-big {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem 2.5rem;
  border-radius: 0.5rem;
  border: 0;
}

.btn-play-big:hover {
  transform: scale(1.05);
}

button i {
  margin-left: -1rem;
  margin-right: 0.5rem;
}

/* catalogue section */

.catalogue-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalogue-heading {
  font-weight: bold;
  font-size: 1.2rem;
}

.movie-list {
  display: flex;
  justify-content: left;
  gap: 1rem;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0.5rem 0.2rem;
}

.movie-card {
  display: inline-block;
  border: black solid 1px;
  padding: 3rem 13rem 3rem 2rem;
  border-radius: 3px;
  gap: 0.3rem;
}

.movie-card:hover {
  transform: scale(1.01);
}

.btn-play-small {
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0;
  margin: 0.5rem 0;
}

.btn-play-small i {
  margin-left: -0.5rem;
  margin-right: 0.5rem;
}

.btn-play-small:hover {
  transform: scale(1.05);
}

/* Footer */

footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.terms-of-use-container {
  max-width: 60vw;
}

.footer-linkbar {
  display: flex;
  gap: 1.2rem;
  color: rgb(94, 94, 94);
}

.footer-icon {
  max-block-size: 2rem;
  margin: 0.2rem;
}

.terms-of-use-text {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  /* app BAr */

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000; /* Ensure the header stays on top of other content */
    background-color: #fff; /* Set a background color to avoid transparency issues */
    padding: 0 0.3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 0;
  }

  body {
    margin-top: 60px;
  }

  #hamburger {
    display: flex;
    max-block-size: 2rem;
    align-items: center;
    border: none;
    background: none;
  }

  #hamburger:hover {
    transform: scale(1.05);
  }

  #hamburger-icon {
    max-block-size: 2rem;
  }

  .nav,
  #bell-icon,
  #user-image,
  #search-icon {
    display: none;
  }

  .user-panel {
    gap: 0;
  }

  .search-bar {
    max-width: 100vw;
    min-width: 20vw;
  }
  .movie-list {
    overflow-x: hidden;
    white-space: nowrap;
  }

  /* hero */

  .ratings {
    display: flex;
    gap: 0.5rem;
  }

  .user-rating {
    display: flex;
  }

  /* catalogue section */
}
